<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tp.mapper.StudentMapper">



    <update id="update" parameterType="student">
        update  student
        <set>
            <if test="name !=null">name=#{name},</if>
            <if test="major !=null">major=#{major},</if>
            <if test="password !=null">password=#{password},</if>
            <if test="totalCredit !=null">total_credit=#{totalCredit},</if>
            <if test="needCredit !=null">nee_credit=#{needCredit},</if>
        </set>
        where id=#{id}
    </update>

</mapper>
